
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #edebeb;
    background-image: url(https://i.pinimg.com/474x/be/fa/38/befa3854aae9e8eac5e1ffdcccb36f34.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

/* Style header */
header {
    background-color: #444141;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    margin-bottom: 20px;
    nav-left: current;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Style sections */
section {
    padding: 40px;
}

section h2 {
    margin-bottom: 20px;
}

section p {
    line-height: 1.6;
}

/* Style footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 150px;
}
p{
    color: #edebeb;
}
h2{
    color: #edebeb;
}