body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f1f1f1;
    background-image: url(https://i.pinimg.com/474x/be/fa/38/befa3854aae9e8eac5e1ffdcccb36f34.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.services-table {
    width: 100%;
    border-collapse: collapse;
}

.services-table th, .services-table td {
    border: 1px solid #050505;
    border-radius: 3px;
    padding: 8px;
}

.services-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.services-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.services-table tr:hover {
    background-color: #ddd;
}
h1 {
    position: relative;
    font-size: larger;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d0b9a3da;
    border-radius: 5px;
    border-radius: 20px;
    margin-top: 40px;
    width: 3000px;
    
  }
  
  h1 {
    text-align: center;
  }
  
  .booking-list {
    margin-top: 20px;
  }
  
  .booking {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #d0b9a3da;
    border-radius: 5px;
    
  }
  
  .booking h2 {
    margin-top: 0;
  }
  
  .booking p {
    margin: 10px 0;
  }