<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Name</title>
    <link rel="stylesheet" href="/static/about.css">
</head>
<body>
    <header>
        <h1>Modern Maven Interiors</h1>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section id="about">
        <center><h2>About Us</h2></center>
        <p>Welcome to Modern Maven Interiors, where creativity meets functionality to transform spaces into personalized works of art. With a passion for design and a commitment to excellence, we specialize in crafting bespoke interiors that reflect the unique personalities and lifestyles of our clients.

            Established in 2021, Modern Maven Interiors has emerged as a premier destination for discerning homeowners, businesses, and hospitality establishments seeking exceptional design solutions. Our talented team of designers, architects, and craftsmen collaborate seamlessly to bring visions to life, blending timeless elegance with contemporary flair.
            
            From concept to completion, we prioritize client collaboration and satisfaction, ensuring that every project is a true reflection of their dreams and aspirations. Whether it's a cozy family home, a chic urban loft, or a sophisticated commercial space, we approach each project with creativity, attention to detail, and a dedication to surpassing expectations.
            
            At Modern Maven Interiors, we believe that great design has the power to inspire and elevate the human experience. Let us transform your space into a place of beauty, functionality, and inspiration. Contact us today to embark on a journey of design excellence.
            </p>
    </section>

   

    <section id="contact">
        <h2>Contact Us</h2>
        <p>Email: info@Modern Maven Interiors.com</p>
        <p>Phone: 011-456-7890</p>
    </section>


    <footer>
        <p>&copy; 2024 Modern Maven Interiors All rights reserved.</p>
    </footer>
</body>
</html>