<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Table</title>
    <link rel="stylesheet" href="/static/Additems.css">

</head>
<body>
    <title><h1>service list</h1></title>
    
    <table class="services-table">
        <thead>
            <tr>
                <th>Services</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Concept Design Solutions</td>
                <td>Interior material finishes play a crucial role in shaping the look</td>
            </tr>
            <tr>
                <td>Material and Finish Selection</td>
                <td>Interior material finishes play a crucial role in shaping the look</td>
            </tr>
            <tr>
                <td>Styling and Decoration</td>
                <td>Styling and decoration are essential aspects of interior design</td>
            </tr>
            <tr>
                <td>Renovation and Remodeling</td>
                <td>Combining outdoor and lighting design</td>
            </tr>
            <tr>
                <td>soft Furnishing</td>
                <td>Soft furnishings refer to the fabric-based elements used in interior decoration, such as curtains, cushions, upholstery, bed linens, and rugs.</td>
            </tr>
            <tr>
                <td>office Design</td>
                <td>Office design involves planning and arranging workspaces to optimize functionality, efficiency, and aesthetics.</td>
            </tr>
        </tbody>
    </table>
</body>
</html>