<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Booking</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="/static/AddService.css">
</head>
<body>
  <div class="container">
    <form action="/AddService" method="POST">
        <div class="form-group">
                        
            <input type="text" name="name" placeholder="name" required>
            <input type="text" name="category" placeholder="category" required><br>
            <textarea class="form-control" id="description" placeholder="Brief Description of your piece" name="description"></textarea>
                           
       
        
                <center><button type="submit">Add</button></center>
        </div>
    </form>
  </div>
</body>
</html>
