<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/AdminService.css">
    </head>

    <body>
        <nav class="navbar">
          <h1 class="logo">Modern Maven Interiors</h1>
           <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </body>

     
        
    
    <body>
        <div class="in-buttons">
            <a href="/AddService"><button id="addButton">Add</button></a>
            <a href="/Editservice"><button id="addButton">Edit</button></a>
        </div>

        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>catagory</th>
                    <th>description</th>
                    
                    <th>Delete</th>
                    <th>Update</th>
                    
                   
                </tr>
            </thead>
            <tbody>
                {% for i in service %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.category }}</td>
                    <td>{{ i.description}}</td>
                    
                    <td>
                        <form action="/delete_AdminService" method="post">
                            <input type="hidden" id="delete_id" name="delete_id" value={{i._id}}>
                            <input type="hidden" id="delete_id" email="delete_id" value={{i._id}}>
                            <input type="hidden" id="delete_id" color="delete_id" value={{i._id}}>
                            <input type="hidden" id="delete_id" offices="delete_id" value={{i._id}}>
                            <input type="hidden" id="delete_id" size="delete_id" value={{i._id}}>
                            <input type="submit" value="Delete">
                          </form>
                        <!-- <form action="/delete_AdminService" method="post">
                            <input type="hidden" id="delete_id" name="delete_id" value={{i._id}}>
                            <input type="submit" value="Delete">
                          </form> -->
                    </td>
                   <td>
                    <form action="/Edit_Service1" method="post">
                        <input type="hidden" id="Update_id" name="Update_id" value={{i._id}}>
                        <input type="hidden" id="Update_id" email="Update_id" value={{i._id}}>
                        <input type="hidden" id="Update_id" color="Update_id" value={{i._id}}>
                        <input type="hidden" id="Update_id" offices="Update_id" value={{i._id}}>
                        <input type="hidden" id="Update_id" size="Update_id" value={{i._id}}>
                        <input type="submit" value="Update">
                      </form>
                       
                    </td> 
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- <section class="styled-section">
        <h2 onclick="goToLandingPage1('Concept Design Solutions')">Concept Design Solutions</h2>
        </section>
        <br><br>                                                                                                                       

        <section class="styled-section">
          <h2 onclick="goToLandingPage2('Material and Finish')">Material and Finish Selection</h2>
            
          </section>
          <br><br>

        
      

          <section class="styled-section">
            <h2 onclick="goToLandingPage3('Styling and Decoration')">Styling and Decoration</h2>
           
          </section>
          <br><br>

          <section class="styled-section">
            <h2 onclick="goToLandingPage4('Renovation and Remodeling')">Renovation and Remodeling</h2>
          
          </section>
          <br><br> -->

          
      </body>
     
        
                
         <!-- <footer>
           2024 Interior Design Company. All rights reserved.
          </footer> -->
          
          </body>
          </html>
        
          <script src="{{ url_for('static', filename='login page.js') }}"></script>
    </body>
</html>