<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/Concept Design.css">
    <title>Document</title>
</head>
<body>



    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/signup"><h1>Concept Design Solution</h1></a>
              </li>
              
              </li>
             
            </ul>
           
          </div>
        </div>
      </nav>

     
      <div class="container">

      <center><div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="650">
            <img class="slide"  src="https://i.pinimg.com/474x/9e/a0/8e/9ea08ee6ab84036b5509ecb0294a62bb.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img class="slide" src="https://i.pinimg.com/474x/0d/20/9b/0d209b3f73253267e5b2417e8eb174bc.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item"  data-bs-interval="1800"  >
            <img class="slide"  src="https://i.pinimg.com/474x/b8/57/a3/b857a314e8fb82c3706fc1fd19148876.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item"  data-bs-interval="1800"  >
            <img class="slide"  src="https://i.pinimg.com/474x/43/cc/18/43cc187342d8c2a00a2ceb1562eae604.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item"  data-bs-interval="1800"  >
            <img class="slide"  src="https://i.pinimg.com/474x/d5/18/94/d5189468d74e2b5ea61b941ea588272f.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item"  data-bs-interval="1800"  >
            <img class="slide"  src="https://i.pinimg.com/474x/ca/4a/63/ca4a6311c491978a5eda406b43c6955b.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item"  data-bs-interval="1800"  >
            <img class="slide"  src="https://i.pinimg.com/474x/22/f0/2f/22f02f043f64bf930485c8ac2eff6017.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item"  data-bs-interval="1800"  >
            <img class="slide"  src="https://i.pinimg.com/474x/9e/ec/02/9eec023c52e7437107f5586e86bfe6bb.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item"  data-bs-interval="1800"  >
            <img class="slide"  src="https://i.pinimg.com/474x/07/da/c7/07dac77079f6a6d1678512991079a707.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> </center>
    </div>


    <body>

        <div class="code-container">
          <h2>Service Offered</h2>
          <div class="code example-html">

<h3>The designer meets with the client to discuss their needs, goals, and aesthetic preferences for the project. This involves understanding the client's lifestyle, tastes, and any specific requirements they may have.</h3>

          </div>
          <h2>WE DO:</h2>
          <div class="bullet-list">
            <ul>
              <li>Coastal Retreat</li>
              <li>Urban Loft</li>
              <li>Luxury High-End</li>
              <li>Green Living</li>
            </ul>
            

        
 
          </div>
        </div>
        
        <div class="clearfix"></div>
        
        <!-- Your other content goes here -->
        
        </body>



      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='landing.js') }}"></script>
      <script src="/landing.js"></script>
</body>
</html>