<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/contact.css">
    </head>
    

        <body>
        
        <header>
            <div class="container">
            <h1>Modern Maven Interiors</h1>
        </header>

            <header>
               <center><h1>Contact us</h1></center> 
              </header>
    
    
    
    <br></br><br></br>
    <div class="services-container">
        <div class="service">
            <h2>Social media</h2>
            <p>Tiktok.@Modern Maven Interiors</p>
            <p>Facebook.Modern Maven Interiors</p>
            <p>Twitter._Modern Maven Interiors</p>
            <br><br><br>

            <img src="https://i.pinimg.com/474x/91/4d/e6/914de662ac57138cda4a401ff37b444e.jpg" alt="Description of the image" width="100" height="100">
            <img src="https://i.pinimg.com/474x/ed/0e/4f/ed0e4f6371525bef197f941f0d430661.jpg" alt="Description of the image" width="100" height="100">
            <img src="https://i.pinimg.com/474x/28/53/b3/2853b389340f479f11080cfe395f2f17.jpg" alt="Description of the image" width="100" height="100">

        </div>
        <div class="service">
            <h2>Email address</h2> 
            <p>support@Modernmaveninteriors.com</p>
            <p>Thulisile.molefe123@protonmail.com</p>
            <p>info@modernmaveninteriors.com </p>
            <p>modernmaveninteriors.@yahoo.com</p>
            <br><br><br>

            <img src="https://i.pinimg.com/474x/30/93/7d/30937d739663dfe173bae9681154d08a.jpg" alt="Description of the image" width="100" height="100">
        </div>
        <div class="service">
            <h2>Contact Number</h2>
            <p>0115679865</p>
            <p>0112003456</p>
            <p>0786839876</p>
            <br><br><br>

            <img src="https://i.pinimg.com/474x/26/82/ba/2682ba37e946260bff3e6a8ee091bc06.jpg" alt="Description of the image" width="100" height="100">
    
          
        </div>  
        <footer>
            <p>&copy; 2024 Modern Maven Interiors All rights reserved.</p>
        </footer>
        

            <br><br>

            </html>