<!DOCTYPE html>

<html>
    
    </head>
    <body>
        <!DOCTYPE html>
        <html lang="en">
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Radiant Reflections Beauty Lounge</title>
        <link rel="stylesheet" href="/static/landingpage.css"> <!-- Link to external CSS file -->
        </head>
        <body>
        
        <header>
            <div class="container">
                <h1>Radiant Reflections Beauty Lounge</h1>
                <div class="LOGOUT"><h5>LOGOUT</h5></div>
            </div>
        </header>
        
        <nav>
            <div class="container">
                <ul>
                    <li><a href="#services">Add</a></li>
                    <li><a href="#gallery">Update</a></li>
                    <li><a href="#contact">Delete</a></li>
                </ul>
            </div>
        </nav>
    
    
        <div class="container">
            <section id="services">
                <h2>Our Services</h2>
                <ul>
                    <li>Haircut & Styling</li>
                    <li>Hair Coloring</li>
                    <li>Facials</li>
                    <li>Manicure & Pedicure</li>
                    <li>Waxing</li>
                </ul>
            </section>
            <form id="search-form">
                <input type="text" id="search-input" placeholder="Search for Services">
                <button type="submit">Search</button>
            </form>
            <section id="gallery">
                <h2>Gallery</h2>
                <div class="gallery-images">
                    <img src="https://i.pinimg.com/474x/0d/9a/73/0d9a73f53605560511596602f64a6e0c.jpg" alt="Image 1">
                    <img src="https://i.pinimg.com/474x/6f/fc/0d/6ffc0d1749ab90e1ab930c0335934860.jpg" alt="Image 2">
                    <img src="https://i.pinimg.com/474x/a5/e4/b1/a5e4b122719ffe015ebc0f16d82874a6.jpg" alt="Image 3">
                    <!-- Add more images here -->
                </div>
            </section>
        
            <section id="contact">
                <h2>Contact Us</h2>
                <p>Address: 7 Qunice street Auckland park</p>
                <p>Phone: 011 500 7867</p>
                <p>Email: info@Radiant Reflections Beauty Lounge.com</p>
                <p>Opening Hours: Mon-Sat: 9am-6pm</p>
            </section>
        </div>
        
        <footer>
            <div class="container">
                <p>&copy; 2024 Radiant Reflections Beauty Lounge. All rights reserved.</p>
            </div>
        </footer>
        
        </body>
        </html>
        
        <script src="" async defer></script>
    </body>
</html>