<!DOCTYPE html>

<html>
    
    </head>
    <body>
        <!DOCTYPE html>
        <html lang="en">
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Modern Maven Interiors</title>
        <link rel="stylesheet" href="/static/landingpage.css"> <!-- Link to external CSS file -->
        </head>
        <body>
        
        <header> 
            <div class="container">
            <h1>Modern Maven Interiors</h1>        
        </header> 
        <nav>
            
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    
    <br></br><br></br>
                
          
           
            <div class="services-container">
                <div class="service">
                    <h2>Concept Design</h2>
                    <a href="https://example.com"></a>
                    <img src="https://i.pinimg.com/564x/ff/a7/26/ffa726ea86b78ac0138965046a9f8b77.jpg" alt="Description of the image" width="300" height="200">

                </div>
                <div class="service">
                    <h2>Projects</h2> 
                    <a href="https://example.com"></a>
                    <img src="https://i.pinimg.com/474x/fc/f9/c8/fcf9c8b03cf41a42160586645dd90790.jpg" alt="Description of the image" width="300" height="200">
                </div>
                <div class="service">
                    <a href="https://example.com"></a>
                    <h2>Project Management</h2>
            
                    <img src="https://i.pinimg.com/564x/5c/b7/2d/5cb72d9c1679a25e3a215dbc5a91c4cf.jpg" alt="Description of the image" width="100" height="100">
                </div>
                <!-- Add more services as needed -->
            </div>
            <br><br>
            <div class="services-container">
                <div class="service">
                    <a href="https://example.com"></a>
                    <h2>Soft Furnishing</h2>
                    <img src="https://i.pinimg.com/564x/18/99/a2/1899a2fb34d447620480b6f7f20f68a9.jpg" alt="Description of the image" width="100" height="100">
                </div>
                <div class="service">
                    <a href="https://example.com"></a>
                    <h2>Office Space Design</h2>
                    <img src="https://i.pinimg.com/474x/32/1f/36/321f3610be813d526f23ae682e3c8565.jpg" alt="Description of the image" width="100" height="100">

                </div>
                <div class="service">
                    <a href="https://example.com"></a>
                    <h2>Living Room Design</h2>
                    <img src="https://i.pinimg.com/474x/da/92/a4/da92a4b14e11a93d91c7d490f1eeb944.jpg" alt="Description of the image" width="100" height="100">
                    
                </div>
                
        
                <footer>
                    <p>&copy; 2024 Modern Maven Interiors All rights reserved.</p>
                </footer>
        
        </body>
        </html>
         
        <script src="" async defer></script>
    </body>
</html>