<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Table Example</title>
    <link rel="stylesheet" href="/static/explain.css">
    
</head>
<body>

<h2>Concept Design</h2>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
               
            </tr>
        </thead>
        <tbody>
            {% for user in user %}
            <tr>
                <td>{{ user.name }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</body>
</html>