<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/file.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <div class="container text-center">
            <div class="row">
              <div class="col">
                <div class="card" style="width: 15rem;">
                    <img src="https://i.pinimg.com/474x/f2/23/d0/f223d0ff65a492e19767087c6c38e4c5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
              </div>
              <div class="col">
                <div class="card" style="width: 15rem;">
                    <img src="https://i.pinimg.com/474x/af/72/0e/af720eaaef5b3181dc1180cf2067ffc3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
              </div>
              <div class="col">
                <div class="card" style="width: 16rem;">
                    <img src="https://i.pinimg.com/474x/85/12/fb/8512fbae976e871e5353cdd64c165fa1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem;">
                <img src="https://i.pinimg.com/474x/85/12/fb/8512fbae976e871e5353cdd64c165fa1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>

                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="https://i.pinimg.com/474x/85/12/fb/8512fbae976e871e5353cdd64c165fa1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>    
        
        <script src="" async defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>