<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/ratings.css">
    </head>
    <body>

            <h1>Rating Overall</h1> 

        
        
            <div></div>
              
              <div class="bu" ></div> 
              
                <div class="u" ></div>

                <div class="g" ></div>
              
                <div class="b" ></div>

                <div class="p" ></div>
              
              
            <p><b>Note:</b> When an animation is finished, it goes back to its original style.</p>
            
           
            </html>
            
        
        <script src="" async defer></script>
    </body>
</html>