<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/services.css">
    </head>

    <body>
        <nav class="navbar">
          <h1 class="logo">Modern Maven Interiors</h1>
          <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </body>

     
        
    
    <body>

    </section> 
        <section class="styled-section">
        <h2 onclick="goToLandingPage1('Concept Design Solutions')">Concept Design Solutions</h2>
        </section>
        <br><br>                                                                                                                       

        <section class="styled-section">
          <h2 onclick="goToLandingPage2('Material and Finish')">Material and Finish Selection</h2>
            
          </section>
          <br><br>

        
      

          <section class="styled-section">
            <h2 onclick="goToLandingPage3('Styling and Decoration')">Styling and Decoration</h2>
           
          </section>
          <br><br>

          <section class="styled-section">
            <h2 onclick="goToLandingPage4('Renovation and Remodeling')">Renovation and Remodeling</h2>
          
          </section>
          <br><br>

          
      </body>
     
        
                
         <footer>
           2024 Interior Design Company. All rights reserved.
          </footer>
          
          </body>
          </html>
        
          <script src="{{ url_for('static', filename='login page.js') }}"></script>
    </body>
</html>